


.habitTop {
    position: fixed;
    top:0;
    z-index: 1;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:100%;
    height: 44px;
    background: #39cc7b
}

.habitTop_left,
.habitTop_right,
.habitTop_center, {
    padding:0 14px;
    line-height: 44px;
    color:#fafafa;
}
.am-navbar-light {
    position: fixed;
    top:0;
    z-index: 1;
    width:100%;
    background: #39cc7b;
    color:#fff;
}
.am-navbar-light .am-navbar-title {
    font-size:16px;
    color:#fff;
}
.am-popover.fortest.am-popover-placement-bottomRight  {
    position:fixed;
}
body .am-popover-mask {
    background-color: #000.2;
}
.popoverItem .am-popover-item-content {
    font-size:12px;
}

.per-habit-list .am-list-body {
    margin:54px 10px 0;
    border:none;
    background: transparent
}
.per-habit-item {
    margin-bottom:10px;
    padding:0 10px 0 0;
    box-shadow:0 1px 1px #ccc;
    border-radius: 3px;
}
.per-habit-name {
    color:#666
}
.per-habit-item .am-list-line .am-list-brief {
    margin:0;
    padding:0;
    font-size:12px;
    color:#999
}
.per-habit-item.am-list-item .am-list-thumb:first-child {
    margin:0 6px;
    width:50px;
}
.per-habit-item.am-list-item .iconfont {
    font-size:34px;
    text-align: center;
    color:#b4b5b4
}

/* 发现 */
.tabHeight {
    height: 100%;
}
.tabHeight .am-tabs-default-bar {
    justify-content: center;
    background: #39cc7b !important ;
}
.tabHeight .am-tabs-default-bar-content {
    width:60%;
}
.tabHeight .am-tabs-default-bar-tab {
    color:#eee
}
.tabHeight .am-tabs-default-bar-tab-active {
    color:#fff;
}
.tabHeight .am-tabs-default-bar-tab {
    border-color: #39cc7b;
}
.tabHeight .am-tabs-default-bar-underline {
    border-color:#fff;
}
.tabHeight .habitTop {
    justify-content: flex-end;
}
/* 删除习惯的modal */
.del_modal {
    padding:0 20px;
}

/* 评论的蒙版 */
.detail_wrap {
    border:1px solid;    
    position: fixed;
    bottom: -1px;
}
.am-modal-mask {
    background-color: #000.5;
}
.am-modal-transparent .am-modal-content {
    border-radius: 7px 7px 0 0;
}
.am-modal-transparent .am-modal-content .am-modal-body {
    padding:0;
}
.am-modal-wrap {
    /* align-items: flex-end; */
}
.am-modal-transparent {
    width:100%;
}
.am-modal-header {
    padding:0px 15px 6px;
    box-shadow: 0 6px 20px #eee;
}

.comment_input .am-list-item {
    min-height: 50px;
}
.comment_input .am-list-item.am-input-item {
    padding:0;
    box-shadow: 0 3px 20px #ccc;
}
.comment_input .am-list-item .am-list-line {
    flex-direction: row-reverse;
    padding:0;
}
.comment_input .am-list-item .am-input-control {
    padding:0 15px 0;
}
.comment_input .am-list-item .am-input-label.am-input-label-5 {
    margin:0;
    width:40px;
    text-align: center;
    box-shadow: -2px 3px 20px #ccc;
}
.comment_btn {
    color:#333;
    
}
.comment_btn:active {
    color: #ccc;
}
.am-list-item .am-input-clear {
    width:0;
    height: 0;
    overflow: hidden;
}


/* 我的收藏 */
.favorite_wrap {
    padding-top:54px;
    margin:0 10px;
    
}

/* 签到 */
.am-image-picker-list .am-image-picker-upload-btn input {
    -webkit-opacity:0;
}
.am-image-picker .am-image-picker-list {
    padding:0;
    margin:0;
}
.am-image-picker-list .am-flexbox {
    margin-bottom:4px;
}

/* 搜索 */
.searchBar .am-search-cancel {
    color:#fff;
}
.am-list-item.am-list-item-active {
    background: none;
}
.addHabit .am-list-item .am-list-line-multiple {
    padding:0;
}
.addHabit .am-list-item .am-list-line .am-list-brief {
    margin:0;
    font-size: 12px;
}
.addHabit a.am-button.am-button-primary.am-button-small {
    display: block;
    padding:0;
    border-radius: 0;
    font-size:14px; 
    line-height: 30px;

}
.addHabit .am-list-item .am-list-line .am-list-extra {
    flex-basis: 29%;
}
.addHabit .am-list-item {
    padding:4px 0 4px 15px;
    border-bottom:1px solid #f0f0f0;
}
.addHabit .am-list-body {
    margin-bottom:10px;
}

/* 我的 */
.myCenter .am-list-item .am-list-line-multiple {
    padding:4px 0;
}
.myCenter .am-list-item {
    border-bottom:1px solid #f5f5f5;
}

/* 其他人的个人中心 */
.otherHabit .am-list-body {
    background: transparent;
    border-bottom: none;
}
.otherHabit .per-habit-item {
    box-shadow: 0 0 0 ;
}
.otherHabit .am-list-item .am-list-line-multiple {
    padding:4px 0;
}

/* 登录 */
.entry .am-list-item .am-input-label {
    font-size:14px;   
    color:#666;
}
.entry .am-list-item .am-input-control input {
    font-size:14px;
}