
.header {
    padding:20px 20px 0;
    display: flex;
    flex-direction: row;
    background: #fff;
}
.picWrap {

    position: relative;
}
.pic {
    width:80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #39cc7b;
}
.gender {
    position: absolute;
    bottom:0;
    right:0;
    background: #fff;
    width:24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.gender_nan {
    color:#75b9eb
}
.gender_nv {
    color:#ff3ec9
}
.pic img{
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
}
.pic:before {
    content:"";
    display:inline-block;
    height: 100%;
    vertical-align: middle;
    
}
.attention {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}
.attention_count {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:16px;
    color:#666;
}
.attention_count strong {
    margin-bottom:10px;
    color:#39cc7b;
}
.introduce {
    padding:15px;
    font-size:14px;
    color:#999;
    background: #fff;
}
.message {
    margin-top:10px;
    background: #fff;
}
.title {
    padding:6px 0 6px 8px;
    font-size:16px;
    color:#666;
    border-left:4px solid #39cc7b;
}
.message .content {
    background: #fff;
}
.msg_user .msg_type{
    margin-left:8px;
    color:#999;
}
.msg_userPic {
    width:40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
}
.msg_userPic img {
    display: inline-block;
    vertical-align: middle;
    width:initial;
    height:initial;
    max-width:100%;
}
.msg_userPic::before {
    content:"";
    display:inline-block;
    height: 100%;
    vertical-align: middle;
}
.msg_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.msg_item {
    flex:1;
    margin-right:10px;
}

.msg_record {
    margin-right:10px;
    width:40px;
    height: 40px;
    text-align: center;
}
.msg_record img{
    display: inline-block;
    vertical-align: middle;
    width:initial;
    height:initial;
    max-width:100%;
}
.msg_record:before {
    content:"";
    display:inline-block;
    height: 100%;
    vertical-align: middle;
}
.msg_user {
    font-size:14px;
    color:#333;
}
.msg_body {
    margin-top:2px;
    padding:2px 10px;
    font-size:14px;
    color:#666;
    white-space:pre-wrap ; 
    background: #f2f2f2
}
.msg_time {
    margin:0;
    font-size:12px;
}

/* 浏览别人的习惯记录 */
.otherHabit {
    margin-top:10px;
}
.otherHabit .title {
    background: #fff;
}
.otherHabit .habitList {
    background: transparent;
}
.todoMask {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
    background: #000.3;
}