
.wrap {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    background: #fff;
    padding-top:54px;

}
.tab {
    margin-right:15px;
    text-align: right;
    padding:6px 0;
    border-top:1px solid #c9f6dd;
}
.tab span {
    color:#39cc7b
}
.btn {
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.button {
    background: #57e496;
    border:none;
    line-height: 38px;
    height: 38px;
    width:50%;
}
.button.active {
    background: #39cc7b;
}
.logo {
    display: flex;
    justify-content: center;
    margin:30px 0 30px;
}
.logoPic {
    padding:8px;
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border:1px solid #57e496;
}
.logoPic:before {
    content:"";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.logoPic img {
    max-width:100%;
    display: inline-block;
    vertical-align: middle;
}
.tip {
    text-align: right;
    color:#f40;
}